<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherStats.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WeatherStats.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherStats.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherStats.Settings>
            <setting name="EndPoint" serializeAs="String">
                <value>https://weatherstats.table.core.windows.net/stats</value>
            </setting>
            <setting name="AccountName" serializeAs="String">
                <value>weatherstats</value>
            </setting>
            <setting name="AzureSecret" serializeAs="String">
                <value>azure-table-secret</value>
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>stats</value>
            </setting>
            <setting name="PartitionKey" serializeAs="String">
                <value>Temperature_Humidity</value>
            </setting>
        </WeatherStats.Settings>
        <WeatherStats.App>
            <setting name="AccountName" serializeAs="String">
                <value>weatherstats</value>
            </setting>
            <setting name="AzureSecret" serializeAs="String">
                <value>azure-table-secret</value>
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>stats</value>
            </setting>
            <setting name="PartitionKey" serializeAs="String">
                <value>Temperature_Humidity</value>
            </setting>
        </WeatherStats.App>
    </userSettings>
    <applicationSettings>
        <WeatherStats.App>
            <setting name="EndPoint" serializeAs="String">
                <value>https://weatherstats.table.core.windows.net/stats</value>
            </setting>
        </WeatherStats.App>
    </applicationSettings>
</configuration>